.top
{
	text-align: center;
	color: blue;
	font-size: 4em;
	
	padding-bottom: 100px;
	text-transform: uppercase;
	text-decoration: underline solid black;
}

.big-container
{
	height:1000px;
	width: 90vw;
	position: relative;
	padding-left: 70px;
	padding-right: 150px;

	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto auto auto auto;

}

.clothes-container
{
	height:400px;
	width:300px;
	position:relative;
	vertical-align: top;
	display: inline-block;
	width: auto;
	text-align: center;
}

.overview {
	position:absolute;
	visibility: hidden;
	opacity:0;

	
}

.clothes-container:hover .overview {
	left:120px;
	bottom:100px;
	background-color: yellow;
	transition: opacity 0.2s;
	visibility: visible;
	opacity: 1;
}
.clothes
{
	height:300px;
	width:207px;
	border: 4px solid black;
	position:relative;
}


.price{
	display: block;
}
